.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;

  // background-image: url('/img/wave-bg.svg');
  position: relative;
}

.featuresRow {
  display: grid;
  justify-content: center;
  justify-items: center;

  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media (min-width: 1224px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  display: block;
  height: 100%;
  text-decoration: none;
  color: var(--ifm-font-color-base);
  backdrop-filter: blur(16px);
  border-radius: 1.5rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  width: 300px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.15s ease-in-out;
  box-shadow: var(--ifm-global-shadow-lw);
  // background-color: var(--ifm-card-background-color);

  &__header {
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-left: 0.7rem;
    padding-top: 0.7rem;
  }

  &__heading {
    margin: 0;
  }

  &__image {
    width: 80px;
    height: 60px;
  }

  &:hover {
    border: 1px solid var(--ifm-color-primary);
  }
}
