/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base:
    'Montserrat Variable', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --ifm-color-primary: #0049db;
  --ifm-color-primary-dark: #0042c5;
  --ifm-color-primary-darker: #003eba;
  --ifm-color-primary-darkest: #003399;
  --ifm-color-primary-light: #0050f1;
  --ifm-color-primary-lighter: #0054fc;
  --ifm-color-primary-lightest: #1e69ff;
  --ifm-background-color: #ffffff;
  --ifm-navbar-background-color: #ffffffcc;
  --ifm-code-font-size: 95%;
  --ifm-font-color-base: #333333;
  --ifm-font-color-secondary: #444444;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --rd-bg-color-select-trigger-base: white;
  --dot-color: #33333322;
  --bg-color-hover: #f1f1f1;
  --ifm-color-primary-bg: #0049db22;

  --prism-background-color: #f6f8fa;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #00e5ff;
  --ifm-color-primary-dark: #00cee6;
  --ifm-color-primary-darker: #00c3d9;
  --ifm-color-primary-darkest: #00a0b3;
  --ifm-color-primary-light: #1ae8ff;
  --ifm-color-primary-lighter: #26e9ff;
  --ifm-color-primary-lightest: #4dedff;
  --ifm-background-color: #0f0f0f;
  --ifm-navbar-background-color: #0f0f0fcc;
  --ifm-font-color-base: #ffffff;
  --ifm-font-color-secondary: #cccccc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --rd-bg-color-select-trigger-base: black;
  --dot-color: #ffffff22;
  --bg-color-hover: #3f3f3f;
  --ifm-color-primary-bg: #00e5ff22;

  --prism-background-color: #282c34;
}

#__docusaurus {
  min-height: 100vh;
}

.navbar__title {
  font-weight: 400;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.card {
  backdrop-filter: blur(5px);
  background-color: transparent;
}

@media screen and (min-width: 996px) {
  .theme-layout-navbar.navbar.navbar--fixed-top:not(.navbar-sidebar--show) {
    backdrop-filter: blur(5px);
  }
}

.theme-layout-navbar-sidebar.navbar-sidebar {
  backdrop-filter: blur(5px);
}

body {
  --dot-size: 1px; /* The size/radius of the dot */
  --dot-spacing: 30px; /* The space between the dots */
  /* --------------------------------- */

  height: unset;
  min-height: 100vh; /* Make sure it covers the full viewport height */
  // background-color: #1a1a2e; /* Your primary background color */
  position: relative; /* Needed for the glass cards to be positioned relative to it */

  /* The magic for the dotted pattern */
  background-image: radial-gradient(
    circle at center,
    var(--dot-color) var(--dot-size),
    transparent var(--dot-size)
  );

  background-size: var(--dot-spacing) var(--dot-spacing);
  background-repeat: repeat;
}

hr {
  border: none;
  height: 1px;
  opacity: 0.3;
}

button {
  font-family: var(--ifm-font-family-base);
}

// Code line remove/add
.code-block-remove-line,
.code-block-add-line {
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid;
}
.code-block-remove-line {
  background-color: #ff000020;
  border-color: #ff000080;
}
.code-block-add-line {
  background-color: #00ff0020;
  border-color: #00ff0080;
}

// Code tabs
.code-tabs .tabs {
  margin-bottom: -1rem;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--prism-background-color);
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
}

// Code block
.code-tabs .theme-code-block {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Code tab item
.code-tabs .tabs__item {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 12px 16px;
  border: none;
  background: var(--prism-background-color);

  border-radius: 0;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
  border-top: none;
  border-color: transparent;
}

// Code tab item active
.code-tabs .tabs__item--active {
  border-color: var(--ifm-color-primary);
  background-color: var(--ifm-color-emphasis-200);
}

// Code block content
.theme-code-block {
  pre.prism-code {
    max-height: clamp(400px, 50vh, 500px);
    overflow-y: auto;
    font-size: 0.875rem;
  }
}

.preview-tab {
  padding: 1.5rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--ifm-color-emphasis-200);
}

.placement-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  place-items: center;
  gap: 0.5rem;

  @media screen and (max-width: 600px) {
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  &--column {
    flex-direction: column;
  }
}

/* src/css/custom.css */

.form-control {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-background-color);
  background-clip: padding-box;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:hover {
    border-color: var(--ifm-color-emphasis-500);
  }
}

.form-control:focus {
  outline: 0;
  border-color: var(--ifm-color-primary);
  box-shadow: 0 0 0 0.2rem rgba(53, 120, 229, 0.25); /* Primary color with transparency */
}

/* For the --block variant */
.form-control--block {
  width: 100%;
  display: block;
}

.theme-layout-navbar {
  // border-bottom: 1px solid var(--ifm-color-emphasis-300);
  box-shadow: none;
}

.docs-doc-page .theme-layout-navbar {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  box-shadow: none;
}
